.btn-outline-primary {
    margin: 0 1rem 0 0;
}

.project-image {
    height: 10vh;
}

.add-button {
    margin: 0 0 0 4rem;
}

.project-description {
    max-width: 20vw;
}

.table td {
    max-width: 30vw;
}