.navbar-container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.fa-envelope {
    font-size: 2rem;
    cursor: pointer;
}

.fa-github {
    font-size: 2rem;
}

.fa-linkedin {
    font-size: 2rem;
}

.title-container {
    font-size: 2rem;
    font-weight: bold;
}

.subtitle-container {
    font-size: 1.5rem;
    font-weight: lighter;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sections-ul {
    list-style-type: none;
    display: flex;
}

.sections-li {
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
}

.sections-li a {
    color: black;
    text-decoration: none;
}

.sections-li a:hover {
    color: black;
}
  
@media screen and (max-width: 600px) {
    .sections-ul {
        flex-direction: column;
    }
    .card {
        margin: 1rem;
    }
}